* {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.portada {
    background-image: url("images/b.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: white;
    line-height: 1.5em;
}
h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
}


body
.contenedor {
    padding: 2em 0 4em 0;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.informacion {
    width: 80%;
    max-width: 1000px;
    box-shadow: 0px 0px 6px rgb(173, 173, 173);
    border-radius: 0.7em;
    padding: 2em;
}
h4 {
    text-decoration: underline;
    padding-bottom: 2em;
    line-height: 1.5em;
}

.caca {
    float: right;
}

.imagen {
    width: 500px;
    height: auto;
    padding: 0 0 0.7em 2em;
}

.informacion p {
    text-indent: 40px;
    font-size: 18px;
    line-height: 1.5em;
    padding-bottom: 2em;
}

.contenedor-arriba {
    display: flex;
    width: 80%;
    justify-content: space-between;
    max-width: 1000px;
    padding-bottom: 2em;
}

.imagen-autor {
    width: 100px;
    border-radius: 300px;
}

.tarjeta div p {
    text-align: center;
}

.tarjeta {
    width: 40%;
    justify-content: left;
    display: flex;
    align-items: center;
}

.tarjeta2 {
    align-content: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nombre {
    padding-left: 2em;
    display: flex;
    justify-content: center;
}

.tarjeta2 p {
    height: fit-content;
    background-color: rgb(165, 165, 165);
    color: white;
    border-radius: 3px;
    padding: 0.2em;
    font-size: 0.85em;
    margin: 0.2em;
}

